<h1 class="page-header" style="color:#337ab7;">REGISTRO DE FACULTAD</h1>
<div class="form-group" style="color:#337ab7;">
  <div class="modal-content">
    <div class="panel-default">
      <div class="panel-heading" style="color:#337ab7;"><i class="fa fa-university"> Agregar Facultad</i>
        </div>
  <div class="panel-body">
<%= simple_form_for @facultad do |f|%>
<div class="row">
  <div class="col-xs-6">
  <%= f.input :nombre, placeholder: "Nombre Facultad"%>
</div>

<div class="col-xs-6">
  <%= f.input :decano,
  placeholder:"Nombre Decano"%>
</div>

<div class="col-xs-5">
  <%= f.submit 'Guardar', method: :new,
  data: { confirm: 'Guardar Facultad' },
   class:"btn btn-primary active"%>
</div>

</div>
<%end%>
</div>
</div>
</div>
</div>
