<h1 class="text-center">REGISTRAR FACULTAD</h1>

<div class="content text-center">
<%= simple_form_for @facultad do |f|%>


<div class="formulario">
  <div id="new">
  </br>

<div class="form-group">
  <%= f.input :nombre, placeholder: "Nombre Facultad"%>
</div>

<div class="form-group">
  <%= f.input :decano,
  placeholder:"Nombre Decano"%>
</div>

<div class="actions">
  <center>
  <%= f.submit 'Guardar', method: :new,
  data: { confirm: 'Guardar Facultad' },
   class:"btn btn-success active"%>
</center>
</div>

</div>
</div>

<%end%>
</div>
